// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2026 NXP
 */

#include "imx93-phyboard-segin-u-boot.dtsi"

&buck2 {
	regulator-name = "VDDQ_1V1";
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
};
