
if TARGET_PHYCORE_IMX93

config SYS_BOARD
	default "phycore_imx91_93"

config SYS_VENDOR
	default "phytec"

config SYS_CONFIG_NAME
	default "imx93_phycore"

source "board/phytec/common/Kconfig"

endif
